:host ::ng-deep {
  .p-card {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
  }

  h2 {
    color: var(--primary-color);
  }

  .field label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
  }

  input {
    width: 100%;
  }

  .p-error {
    color: #f44336;
    font-size: 0.755rem;
    display: block;
    margin-top: 0.25rem;
  }

  label::after {
    content: "*";
    color: #f44336;
    margin-left: 0.25rem;
  }
}
